h1 {
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 0px; 
  margin-bottom:0px;
  color: #EE2130;
  font-size:40pt;

}

h2 {
  font-family: 'Lato', sans-serif;
  margin-top:0px;
  margin-bottom: 5px;
  border-bottom: 2px solid;
  border-bottom-color: black;
  font-size: 12pt;
}

.nav ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  padding-left: 0px;
  padding:10px;
  margin-top: 0px;
  background-color: #EE2130;
  color:white;


}

img {
  height:900px;
  width: 800px;
  float:left;
}

.nav li {
  display: inline;
  list-style:none;
}

@media {
  .nav ul {
    list-style-type: none;

  }

  .nav li {
    display: inline;
  }
  
  img {
    height:400px;
    width: 300px;
    float:left;

}


a:hover {
  background-color:white;
}

/*mouse over link*/
a:hover {
  color: black;
  padding:3px;
}

/*unvisited link*/
a:link {
  color:#;
}

a {
  color: white;
  text-decoration: none;
}
